<!DOCTYPE html>
<html ng-app="fibDpApp">
  <head>
      <title>Fibonacci - Dynamic Programming</title>
      <link data-require="bootstrap-css@3.3.1" data-semver="3.3.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
      <script data-require="angular.js@1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular.js"></script>
      <script src="index.js"></script>
      <script src="fib_dp.js"></script>
  </head>

  <body ng-controller="fibDpAppController as ctrl">

    <div class="container">
      <h2>Fibonacci with Dynamic Programming</h2>
      <form role="form" class="form" ng-class="{'has-error': ctrl.error}">
          <div class="form-group">
            <label for="fib-num">Fibonacci Number For:</label>
            <input class="form-control" type="number" id="fib-num" ng-model="ctrl.num">
          </div>
          <div ng-if="ctrl.error" class="help-block">{{ctrl.error}}</div>
          <button class="btn btn-default pull-right" ng-click="ctrl.getResult()">Calculate</button>
      </form>
      <div class="row">
        <div class="col-xs-12">
          <label>Result</label>
          <p class="form-control-static">{{ctrl.resultObj.result}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Result Set</label>
          <p class="form-control-static">{{ctrl.resultObj.resultSet | fibDpExplode}}</p>
        </div>
      </div>
    </div>

  </body>
</html>
